<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625251647889-ee91r8t95poc1a5f8bali7h5l8gqfm2s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625251647889-ee91r8t95poc1a5f8bali7h5l8gqfm2s</string>
	<key>API_KEY</key>
	<string>AIzaSyDK2Dw5jVebVq065uxHUYiWY3_sGWgNBZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>625251647889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookATable</string>
	<key>PROJECT_ID</key>
	<string>book-a-table-c928a</string>
	<key>STORAGE_BUCKET</key>
	<string>book-a-table-c928a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625251647889:ios:cc233d783fcc110ea21a30</string>
</dict>
</plist>